<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyTasks</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

    <header>
        <a href="/" class="headerTitle">My Tasks</a>
    </header>

    <main>

        <div id="hideMeAfter5Seconds" class="notificationContainer">
            Save successful
        </div>

        <div>
            @RenderBody()
        </div>
    </main>

</body>
</html>
