<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyTasks</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

    <header>
        <h2 class="headerTitle">My Tasks</h2>
    </header>

    <main>
        <nav class="options_container">
            <ul>
                <li><a href="/Home">All Tasks</a></li>
                <li><a href="/Home">Completed</a></li>
                <li><a href="/Home">In Progress</a></li>
                <li><a href="/Home">Not Started</a></li>
                <li><a href="@Url.Action("Index", "Home", new { options = 4 })">Overdue</a></li>
            </ul>
            <div>
                <a href="/AddNew" class="addNewButton">Add New</a>
            </div>
        </nav>
        @RenderBody()
    </main>

</body>
</html>
