@{
    var pageNumber = ViewData["TaskPagerPageNumber"];
    var showTasksnumber = ViewBag.pager.PageItemShow;
    var orderTaskShow = ViewBag.pager.OrderOfItemShow;
}
<a href="@Url.Action("Index", "Home", 
    new { page = pageNumber, show = showTasksnumber, order=orderTaskShow })" 
    class="pagerButton">
    @ViewBag.TaskPagerButtonText
</a>