@{
    var PageOption = ViewBag.PageOption;
    var pageNumber = ViewData["TaskPagerPageNumber"];
    var showTasksnumber = ViewBag.pager.PageItemShow;
    var orderTaskShow = ViewBag.pager.OrderOfItemShow;
    var currentPageNo = ViewBag.pager.CurrentPageNumber;
    var high = ViewBag.pager.HighPriority;
    var low = ViewBag.pager.LowPriority;
    var medium = ViewBag.pager.MediumPriority;

    var isPrimaryColourButton =
    (ViewBag.TaskPagerButtonText != "First" && ViewBag.TaskPagerButtonText != "Last")
    && (int)currentPageNo == (int)pageNumber;
}
<a href="@Url.Action("Index", "Tasks",
    new { option = PageOption, page = pageNumber, show = showTasksnumber, order=orderTaskShow,
    high = high, medium = medium, low = low})"
   class="pagerButton 
    @(isPrimaryColourButton ? " pagerCurrentButton" : "whiteSubmitButton" )">
    @ViewBag.TaskPagerButtonText
</a>