@{
    var pageNumber = ViewData["TaskPagerPageNumber"];
    var actionParameter = ViewData["ActionParameter"];
    var buttonText = ViewData["TaskPagerButtonText"];

    var controllerName = ViewBag.controller;
    var actionName = ViewBag.action;

    var currentPageNo = ViewBag.pager.CurrentPageNumber;
    
    var isPrimaryColourButton =
    (buttonText.ToString() != "First" && buttonText.ToString() != "Last")
    && (int)currentPageNo == (int)pageNumber;
}
<a href="@Url.Action((string)actionName, (string)controllerName, actionParameter)"
   class="pagerButton 
    @(isPrimaryColourButton ? " pagerCurrentButton" : "whiteSubmitButton" )">
    @buttonText
</a>