@{
    var PageOption = ViewBag.PageOption;
    var pageNumber = ViewData["TaskPagerPageNumber"];
    var showTasksnumber = ViewBag.pager.PageItemShow;
    var orderTaskShow = ViewBag.pager.OrderOfItemShow;
    var currentPageNo = ViewBag.pager.CurrentPageNumber;

    var isPrimaryColourButton =
    (ViewBag.TaskPagerButtonText != "First" && ViewBag.TaskPagerButtonText != "Last")
    && (int)currentPageNo == (int)pageNumber;
}
<a href="@Url.Action("Index", "Home", 
    new { option = PageOption, page = pageNumber, show = showTasksnumber, order=orderTaskShow })"
   class="pagerButton 
    @(isPrimaryColourButton ? " primarySubmitButton" : "whiteSubmitButton" )">
    @ViewBag.TaskPagerButtonText
</a>