
<div class="topBar displayFjcsb">
    <div class="topBarLeft">
        <p class="topBarSubHeading">All Tasks</p>
    </div>
    <div class="topBarRIght displayFjcsb">
        <div class="numberOfShowItem">
            <p class="displayInlineBlock optionLable">Show: </p>
            <select class="displayInlineBlock selectOption">
                <option value="8">8</option>
                <option value="16">16</option>
                <option value="32">32</option>
                <option value="64">64</option>
            </select>
        </div>
        <div class="sortByShow">
            <p class="displayInlineBlock optionLable">Sort By: </p>
            <select class="displayInlineBlock selectOption">
                <option value="8">Date</option>
                <option value="16">Priority</option>
            </select>
        </div>
    </div>
</div>