@model MyTasks.Models.TaskModel

<div class="addNewTaskFormContainer shadowAndBackground">
    <form asp-controller="AddNew" asp-action="Index">

        <p class="formTitle">Add New Task</p>
        
        <span asp-validation-for="MyTask" class="ErrorMessageText"></span>
        <input asp-for="MyTask" class="textInputStyle inputTypeTextStyle" placeholder="Task" />

        <textarea rows="3" class="textInputStyle textAreaStyle"
                  placeholder="Task Description"></textarea>

        <div class="addNewPickerRow">
            <div class="selectOptionBox">
                <p>Priority: </p>
                <select asp-for="Priority">
                    <option value="0">High</option>
                    <option value="1">Medium</option>
                    <option value="2">Low</option>
                </select>
            </div>
            <div class="">
                <p>Due Date: </p>
                <input asp-for="DueDate" type="date" class="inputTypeDate" required
                value="@DateTime.Today.ToString("yyyy-MM-dd")" min="@DateTime.Today.ToString("yyyy-MM-dd")">
            
                <span asp-validation-for="DueDate" class="ErrorMessageText"></span>
            </div>
        </div>
        <input type="submit" value="Add" class="inputTypeSubmitPrimary" />
    </form>
</div>