@model MyTasksClassLib.Models.TaskModel

<partial name="_navBar" />

<div class="addNewTaskFormContainer shadowAndBackground">
    <p class="formTitle">Add New Task</p>
    <form asp-controller="AddNew" asp-action="Index">
        <input asp-for="UserId" hidden/>
        <span asp-validation-for="MyTask" class="ErrorMessageText"></span>
        <input asp-for="MyTask" class="textInputStyle inputTypeTextStyle" placeholder="Task" />

        <span asp-validation-for="Description" class="ErrorMessageText"></span>
        <textarea asp-for="Description" rows="3" class="textInputStyle textAreaStyle"
                  placeholder="Task Description"></textarea>

        <div class="addNewPickerRow">
            <div class="selectOptionBox">
                <p>Priority: </p>
                <select asp-for="Priority">
                    <option value="0">High</option>
                    <option value="1">Medium</option>
                    <option value="2">Low</option>
                </select>
                <span asp-validation-for="Priority" class="ErrorMessageText"></span>
            </div>
            <div class="">
                <p>Due Date: </p>
                <input asp-for="DueDate" type="date" class="inputTypeDate" required
                       value="@DateTime.Today.ToString("yyyy-MM-dd")" min="@DateTime.Today.ToString("yyyy-MM-dd")">
                <span asp-validation-for="DueDate" class="ErrorMessageText"></span>
            </div>
        </div>
        <div class="addNewFormSubmitButtonContainer">
            <input type="submit" value="Add" class="inputTypeSubmitPrimary" />
        </div>
    </form>
</div>