@using Microsoft.AspNetCore.Identity

@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> UserManager

<div class="headerContainer">
    <div class="headerLeftTitleContainer">
        <a href="/" class="headerTitle">My Tasks</a>
    </div>
    <div class="headerRighContainer">
        @{
            if (SignInManager.IsSignedIn(User))
            {
                <a href="@Url.Action("Profile", "Account")" class="headerItem">Hello @UserManager.GetUserAsync(User).Result.Name</a>

                if (User.FindFirst("RoleName")?.Value == "Admin")
                {
                    <a href="@Url.Action("UserList", "Admin")" class="headerItem">Admin Panel</a>
                }

                <a href="@Url.Action("LogOut", "Account")" class="headerItem">Log Out</a>
            }
            else
            {
                <a href="/Account/Registration" class="headerItem">Register</a>
                <a href="/Account/Login" class="headerItem">Login</a>
            }
        }
    </div>
</div>