@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<a href="/" class="headerTitle">My Tasks</a>

@{
    if(SignInManager.IsSignedIn(User))
    {
        <a href="/">Hello @UserManager.GetUserName(User)</a>
        <a href="@Url.Action("LogOut", "Account")">Log Out</a>
    }
    else
    {
        <a href="/Account/Registration" class="headerTitle">Register</a>
        <a href="/Account/Login" class="headerTitle">Login</a>
    }
}