<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyTasks</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

    <header>
        <partial name="_header" />
    </header>

    <main>

        @{
            if (TempData["GetNotification"] != null)
            {
                int notif = (int)TempData["GetNotification"];

                <div id="hideMeAfter5Seconds" class="notificationContainer"
                 style="background-color:@(notif > 1 ? "red" : "green")">
                    Successfully @(notif == 0 ? "added" : notif == 1 ? "edited" : "deleted")
                </div>

                TempData["GetNotification"] = null;
            }
        }

        <div>
            @RenderBody()
        </div>
    </main>

    <footer>
        <partial name="_footer"/>
    </footer>

</body>
</html>
