@model IEnumerable<MyTasks.Models.TaskModel>

<partial name="_navBar" />

<partial name="_searchBox"/>

<div class="searchResultShowContainer">
    @{
        foreach (var task in Model)
        {
            @Html.Partial("_taskCard",task)
        }
    }
</div>

@{
    if (ViewBag.pager != null)
    {
        dynamic dd = new System.Dynamic.ExpandoObject();
        dd.page = 1;
        dd.SearchText = ViewBag.searchInfo.SearchText;
        dd.Option = ViewBag.searchInfo.Option;
        dd.Priority = ViewBag.searchInfo.Priority;
        dd.Order = ViewBag.searchInfo.Order;
        ViewData["actionParameter"] = dd;

        <div class="pagerContainer">
            <partial name="_taskPagerLayout" />
        </div>
    }
}

