@model MyTasksClassLib.Models.SearchUsersModel
@using Microsoft.AspNetCore.Identity

@inject UserManager<UserModel> UserManager

<div>
    <div class="findUserAdminContainer">
        <form>
            <div class="searchBoxTextInputContainer findUserSearchText">
                <input class="textInputStyle inputTypeTextStyle"
                       value="@(Model.SearchText ?? "")"
                       name="SearchText" placeholder="Find Users" />
            </div>
            <div class="findUserButtonContainer">
                <input class="inputTypeSubmitPrimary" type="submit" value="Find" />
            </div>
        </form>
    </div>

    <table class="userTable">
        <tr>
            <th>User Name</th>
            <th>User Role</th>
            <th>Action</th>
        </tr>
        @{
            foreach(var user in Model.Tasks)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.RoleName</td>
                    <td>
                        <a class="changeRoleButton">Change Role</a>
                    </td>
                </tr>
            }
        }
    </table>

    @{
        if (Model.TotalPages != 0)
        {
            ViewData["currentPageNumber"] = Model.CurrentPage;
            ViewData["totalPages"] = Model.TotalPages;
            ViewData["controllerName"] = Model.ControllerName;
            ViewData["actionName"] = Model.ActionName;
            ViewData["pageItemShow"] = Model.PageItemShow;
            ViewData["orderOfItemShow"] = Model.OrderOfItemShow;
            ViewData["SearchText"] = Model.SearchText;

            <div class="pagerContainer">
                <partial name="_taskPagerLayout" view-data="ViewData" />
            </div>
        }
    }

</div>