@model IEnumerable<UserModel>
@using Microsoft.AspNetCore.Identity

@inject UserManager<UserModel> UserManager

<div>
    <div class="findUserAdminContainer">
        <form>
            <div class="searchBoxTextInputContainer findUserSearchText">
                <input class="textInputStyle inputTypeTextStyle"
                       value="@(ViewBag.SearchText ?? "")"
                       name="SearchText" placeholder="Find Users" />
            </div>
            <div class="findUserButtonContainer">
                <input class="inputTypeSubmitPrimary" type="submit" value="Find" />
            </div>
        </form>
    </div>

    <table class="userTable">
        <tr>
            <th>User Name</th>
            <th>User Role</th>
            <th>Action</th>
        </tr>
        @{
            foreach(var user in Model)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.RoleName</td>
                    <td>
                        <a class="changeRoleButton">Change Role</a>
                    </td>
                </tr>
            }
        }
    </table>

</div>