<div class="taskCardBody">
    <p>Task lksdjfk kdfj</p>
    <p>Task Completed</p>
    <p>Due On 25 Oct</p>
    <div class="taskEditDelete">
        <ul>
            <li>
                <a href="">Edit</a>
            </li>
            <li>
                <a href="">Delete</a>
            </li>
        </ul>
    </div>
</div>