@model IEnumerable<MyTasks.Models.TaskModel>

<partial name="_navBar" />

<div class="allTaksTopBarContainer">
    <partial name="_topBar" />
</div>
<br />

<div class="allTaskShowBody">
    <div class="allTaskShowFilterBody">
        <div class="allTaskFilterItem">
            <p class="filterTitle">Priority</p>
            <div class="filterItems">
                <a href="/">
                    <input type="checkbox" class="filterCheckbox"/>
                </a>
                <label>High</label>
            </div>
            <div class="filterItems">
                <a href="/">
                    <input type="checkbox" class="filterCheckbox" />
                </a>
                <label>Medium</label>
            </div>
            <div class="filterItems">
                <a href="/">
                    <input type="checkbox" class="filterCheckbox" />
                </a>
                <label>Low</label>
            </div>
        </div>
    </div>

    <div class="allTaskShowRightBody">
        <partial name="_cardHeader" />

        @{
            foreach (var task in Model)
            {
                @Html.Partial("_taskCard",task)
            }
        }
        <div class="pagerContainer">
            <partial name="_taskPagerLayout" />
        </div>
    </div>

</div>