@model MyTasks.Models.SearchTasksModel

<partial name="_navBar" />

<partial name="_searchBox"/>



<div class="searchResultShowContainer">
    @{
        foreach (var task in Model.Tasks)
        {
            ViewData["controllerName"] = Model.ControllerName;
            ViewData["actionName"] = Model.ActionName;
            <partial name="_taskCard" model="task" />
        }
    }
</div>

@{
    if (Model.TotalPages != 0)
    {
        ViewData["currentPageNumber"] = Model.CurrentPage;
        ViewData["totalPages"] = Model.TotalPages;
        ViewData["controllerName"] = Model.ControllerName;
        ViewData["actionName"] = Model.ActionName;
        ViewData["pageItemShow"] = Model.PageItemShow;
        ViewData["orderOfItemShow"] = Model.OrderOfItemShow;
        ViewData["TaskStatus"] = Model.TaskStatus;
        ViewData["TaskPriority"] = Model.TaskPriority;
        ViewData["SearchText"] = Model.SearchText;

        <div class="pagerContainer">
            <partial name="_taskPagerLayout" view-data="ViewData" />
        </div>
    }
}

