@model MyTasksClassLib.Models.UserModel
<div class="profileContainer shadowAndBackground">
    <div class="profilePicContainer">
        <img src="/img/profileImage.jpg" />
    </div>
    <input asp-for="Name" value="@(Model.Name??"Enter your name")" />
    <input asp-for="Email" value="@(Model.Email??"Enter your email")" />

    <div>
        <label>Add or Upate Profile Picture</label>
        <input type="file" />
    </div>

    <div class="editProfileButtonContainer">
        <a href="@Url.Action("EditProfile", "Account", new {
            User = Model.Id
        })" class="inputTypeSubmitPrimary">Save</a>
    </div>

</div>