@model MyTasksClassLib.Models.ViewModels.EditProfileViewModel
<div class="profileContainer shadowAndBackground">
    <p>Update Profile</p>
    
    <form enctype="multipart/form-data" asp-controller="Account" asp-action="EditProfile">
        <span asp-validation-for="Name" class="ErrorMessageText"></span>
        <input asp-for="Name" class="textInputStyle inputTypeTextStyle"
            value="@(Model.Name??"")" placeholder="Enter your name" />

        <span asp-validation-for="Email" class="ErrorMessageText"></span>
        <input asp-for="Email" class="textInputStyle inputTypeTextStyle"
            value="@(Model.Email??"")" placeholder="Enter your email" />

        <span asp-validation-for="ProfilePicture" class="ErrorMessageText"></span>
        <div>
            <label for="propicUpload" class="inputFileStyle">Add or Upate Profile Picture</label>
            <input id="propicUpload" type="file" asp-for="ProfilePicture" />
        </div>

        <div class="editProfileButtonContainer">
            <input type="submit" value="Save" class="inputTypeSubmitPrimary" />
        </div>
    </form>
</div>