@model MyTasksClassLib.Models.ViewModels.LoginModel

<div class="logRegContainer shadowAndBackground">
    <form asp-action="Login" asp-controller="Account" asp-route-returnUrl="@ViewData["returnUrl"]">

        @Html.ValidationMessage("LoginFailed", new { @class = "ErrorMessageText" })

        <span asp-validation-for="Email" class="ErrorMessageText"></span>
        <input type="email" placeholder="Email" asp-for="Email"
               class="textInputStyle inputTypeTextStyle" />

        <span asp-validation-for="Password" class="ErrorMessageText"></span>
        <input type="password" placeholder="Password" asp-for="Password"
               class="textInputStyle inputTypeTextStyle" />
         <div class="remberMeContainer">
            <label class="remberMe">Remmber Me: </label>
            <input type="checkbox" asp-for="RememberMe" class="filterCheckbox" />
         </div>
        <div class="logregButtonContiner">
            <input type="submit" value="Login" class="inputTypeSubmitPrimary" />
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </form>
</div>