@model MyTasksClassLib.Models.UserModel
<div class="profileContainer shadowAndBackground">
    <div class="profilePicContainer">
        <img src="/img/profileImage.jpg" />
    </div>
    <p>User Role : @Model.RoleName</p>
    <p>User Name : @Model.Name</p>
    <p>Email : @Model.Email</p>

    <div class="editProfileButtonContainer">
        <a href="@Url.Action("EditProfile", "Account")" class="inputTypeSubmitPrimary">Edit Profile</a>
    </div>
    
</div>