@model MyTasksClassLib.Models.RegisterModel

<div class="logRegContainer shadowAndBackground">
    <form asp-action="Registration" asp-controller="Account" 
        asp-route-returnUrl="@ViewData["returnUrl"]">
        <input placeholder="Name" asp-for="Name" 
            class="textInputStyle inputTypeTextStyle" />
        <input type="email" placeholder="Email" asp-for="Email" 
            class="textInputStyle inputTypeTextStyle" />
        <input type="password" placeholder="Password" asp-for="Password" 
            class="textInputStyle inputTypeTextStyle" />
        <input type="password" placeholder="Confirm Password" asp-for="ConfirmPassword"
               class="textInputStyle inputTypeTextStyle" />
        <div class="logregButtonContiner">
            <input type="submit" value="Register" class="inputTypeSubmitPrimary" />
        </div>
    </form>
</div>